.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 100px;
}

.card-personality {
	padding: 20px;
	text-align: center;
}

.card_services {
	padding: 20px;
	text-align: center;
}

.services-icon {
	color: #000000;
	font-size: 80px;
	margin: 0 0 10px 0;
	display: block;
	padding: 0;
	line-height: 0;
	padding: 30px;
}

.gold-blast,
.gradient-text {
	background: #ffd700;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}


.card .card_services {

	overflow: hidden;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	color: black;
	box-sizing: border-box;
	text-align: center;
}


.card .card_services .content p {
	font-size: 14px;
	line-height: 24px;

}

.card .card_services .content .image {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;

}

.card .card_services .conte nt .details h2 {
	font-size: 18px;
	color: white;
}

.card .card_services .content .details h2 span {
	font-size: 18px;
	color: purple;
	transition: 0.5s;
}

.card .card_services:hover .content .details h2 span {
	color: white;
	position: relative
}

.left-full {
	left: 83%;
}

.rotate-5 {
	rotate: 18deg;
}

.text-primary\/10 {
	color: #ffd700;
}

.text-primary\/5 {
	color: #f4d2168a;
}

.text-primary {
	--tw-text-opacity: 1;
	color: #fdd70a;
}

.hover\:text-primary:hover {
	--tw-text-opacity: 1;
	color: #fdd70a;
}